.menu {
    position: fixed;
    top: 70px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    transition: opacity, right .3s ease-in;
    z-index: 100;

    &:hover {
    opacity: .7;
    }

    &.open {
    right: 250px;
    }
}
