.menuBar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 230px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: white;
    transform: translateX(0px);
    transition: transform .3s ease-in;
    z-index: 90;

    &.close {
    transform: translateX(300px);
}
}
